xformers>=0.0.30
transformers>=4.48.3
py360convert>=0.1.0
einops>=0.7.0
pillow>=8.0.0
scikit-image>=0.24.0
sentencepiece>=0.2.0
peft>=0.7.1
trimesh>=4.6.1
diffusers

#git+https://github.com/ZiYang-xie/viser.git
opencv-python
open3d>=0.19.0
#git+https://github.com/lpiccinelli-eth/UniK3D.git
loguru